<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	<link rel="icon" type="image/png" href="img/favi.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	
    <title>Agenda luca</title>
  </head>
  <body>
    
    <div class="alert alert-success text-center" th:if="${msg_anadido != null}" th:text="${msg_anadido}"></div>
	<div class="alert alert-warning text-center" th:if="${msg_actualizado != null}" th:text="${msg_actualizado}"></div>
	<div class="alert alert-danger text-center" th:if="${msg_borrado != null}" th:text="${msg_borrado}"></div>
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">AGENDA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="listarContactos">Contactos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="listarProvincias">Provincias</a>
      </li>
    </ul>
  </div>
</nav>
    
<div class="container-fluid text-center p-5">

<h1>Pagina de inicio</h1>
  <div class="container">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.get-digital.es/web/getdigital/gfx/products/__generated__resized/380x380/13568sticker_1up.jpg" id="icon" alt="User Icon" width="100"/>
    </div>

    <!-- Login Form 
    <form class="p-1">
       <input type="Usuario" placeholder="Usuario" aria-label="Usuario">
    </form>
    
    <form class="p-1">
       <input type="Contraseña" placeholder="Contraseña" aria-label="Contraseña">
    </form>
    
    <form class="p-1">
      <button type="button" class="btn btn-primary">Entrar</button>
    </form>
-->
  </div>
</div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>